if rows > 0 && cols > 0
  .grid(class=`grid-cols-${cols} grid-rows-${rows} gap-4 h-screen w-screen p-4`)
    each color, index in colorPairs
      .card.bg-gray-300.text-white.flex.items-center.justify-center.rounded-lg.shadow-lg.border.border-gray-300.cursor-pointer(
        hx-get=`/api/card/${index}?color=${encodeURIComponent(color)}`,
        hx-target='this',
        hx-swap='outerHTML'
      )
        | Card #{ index + 1 }
else
  p.text-red-500
    | Please select a valid board size.
