- const displayColor = colorActive ? color : ''

.card.bg-gray-300.text-white.flex.items-center.justify-center.rounded-lg.shadow-lg.border.border-gray-300.cursor-pointer(
  style=`background-color: ${displayColor}`,
  data-index=index,
  data-color=color,
  data-board-id=boardId,
  hx-get=`/api/card/${index}?color=${encodeURIComponent(color)}&active=${!colorActive}&boardId=${boardId}`,
  hx-target='this',
  hx-swap='outerHTML'
)
  | Card #{ index + 1 }
